<div class="jumbotron">
  <h1>WTG!? </h1>
  <h2>What the gem!?</h2>
  <p>Got a new project and have no idea about what the hell is every library in your Gemfile? </p>
  <p><%= link_to 'Start scanning a Gemfile!', new_scan_path, class: 'btn btn-primary btn-lg' %></p>
</div>